body {
    font-family: "Jersey 10";
    background-image: url(images/BG.png);
    
    background-repeat: repeat;
    background-size: 200px;
    background-attachment: fixed;

    text-align: center;
    color: azure;

    margin: 0;
    padding: 0;

    font-size: 25px;
    color: #E3D8D8;
}

img {
     image-rendering: pixelated;
}

h1 {
    font-family: "Jacquard 24";
}

h2 {
    font-family: "Jacquard 24";
}

a {
    color: #896583;
}

.container {
    box-sizing: border-box;
    
    width: 42%;
    margin: 0 auto;

    background-color: black;
    padding: 25px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.container p {
    margin: 20px 0;
}

.container h1 {
    margin: 20px;
    margin-bottom: 0;
}

.container h2 {
    margin: 20px;
    margin-bottom: 0;
}

.header img {
    width: 100%;
}

.header {
    background-color: rgba(0, 0, 0, .5);
    margin-top: 70px;
}

.outline {
    border-width: 3px;
    border-style: groove;
    border-color: #896583;
}

.team {
    background-color: #E3D8D8;
    margin: 20px 0;
    padding-top: 5px;

    width: 100%;

    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.team1 img {margin: 0;}

.blink {
    animation: blink 1.5s step-start infinite;
}

.blink-offset {
    animation: blink-offset 1.5s step-start infinite;
}

.copywrite {
    margin: 40px;
}

@keyframes blink {
    30% { opacity: 0; }
}

@keyframes blink-offset {
    60% { opacity: 0; }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinReverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 85%;
    padding: 20px;
  }
}
