body {
    font-family: "Jersey 10";
    background-image: url(images/BG.png);
    
    background-repeat: repeat;
    background-size: 200px;
    background-attachment: fixed;

    text-align: center;
    color: azure;

    margin: 0;
    padding: 0;

    font-size: 25px;
    color: #E3D8D8;
}

img {
     image-rendering: pixelated;
}

h1 {
    font-family: "Jacquard 24";
}

h2 {
    font-family: "Jacquard 24";
}

a {
    color: #896583;
}

.container {
    width: 40%;
    margin: 0 auto;

    background-color: black;
    padding: 20px;
}

.outline {
    border-width: 3px;
    border-style: groove;
    border-color: #896583;
}

.team {
    background-color: #E3D8D8;

    margin: 20px 0;
    padding-top: 6px;

    width: 100%;

    border-left: 0;
    border-right: 0;
}

.team1 img {margin: 11px}

.blink {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    30% { opacity: 0; }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinReverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
}
